# 1. --- block all
*


# 2. --- allow directories generally
!/.config/
!/.local/
!/.local/share/


# 3. --- allow specific files and directories
!/.gitignore
!/.config/nvim/
!/.config/nvim/**
!/.config/fish/*
!/.config/hypr/*
!/.config/ranger/*
